<!-- if issue are generate otherwise goes filter issue page -->
<% if(showIssue){%>
    <div id="show-data">
        <div id="report-issue">
            <a href="/issue/issuePage/<%= project._id %>"><i class="fa fa-calendar-plus-o" style="font-size:24px"></i>
                Report Issue
            </a>
        </div>
        <div id="project-data">
            <h2>Project Info</h2>
            <table>
                <tr>
                    <td>project name:</td>
                    <td><%= project.projectname%></td>
                </tr>
                <tr>
                    <td>project author:</td>
                    <td><%= project.projectauthor%></td>
                </tr>
                <tr>
                    <td>project description:</td>
                    <td><%= project.projectdescription%></td>
                </tr>
            </table>
        </div>
    <!-- how many bugs are their -->
        <div class="circle"> 
            <p>
                Bug:
                <%= issue.length%>
            </p>
        </div>

    <!-- if there are no bug then -->
    <% if(issue.length==0){%>
        <div class="no-bugs">
            <h1>No bugs found!!</h1> 
            <h2>Be Happy!!</h2>
        </div>
    <%}%>
    
    <!-- if there are bug then -->
    <% if(issue.length>0){%>
        <section>
            <div id="search-section">
                <div class="create-box">
                    <!-- search by label -->
                    <form action="/issue/filterIssue" method="post">
                        <div class="user-box">
                            <select name="label1" class="selectbox">
                                <% for(i of labelSet){%>
                                    <option value="<%= i%>"><%= i%></option>  
                                <%}%>
                            </select>
                        </div>
                        <div class="user-box">
                            <select name="label2" class="selectbox">
                                <% for(i of labelSet){%>
                                    <option value="<%= i%>"><%= i%></option>   
                                <%}%>
                            </select>
                            <input type="hidden" name="projectId" value="<%= project._id%>">
                        </div>
                        <a href=""><input type="submit" value="search"></a>
                    </form>
                    <!-- search by author -->
                    <form action="/issue/filterIssue" method="post">
                        <div class="user-box">
                            <input type="text" name="searchAuthor" required>
                            <label for="">Author</label>
                        </div>
                        <input type="hidden" name="projectId" value="<%= project._id%>">
                        <a href="">
                            <input type="submit" value="Search">
                        </a>
                    </form>
                    <!-- search by title or decription -->
                    <form action="/issue/filterIssue" method="post">
                        <div class="user-box">
                            <input type="text" name="searchTitleDesc" required>
                            <label for="">Title or Description</label>
                        </div>
                        <input type="hidden" name="projectId" value="<%= project._id%>">
                        <a href="">
                            <input type="submit" value="Search">
                        </a>
                    </form>
                </div>    
            </div>
            <!-- show all the issue -->
            <div id="show-issue">
                <table>
                    <tr>
                        <th>title</th>
                        <th>description</th>
                        <th>author</th>
                        <th>labels</th>
                    </tr>
                    <% for(i of issue){%>
                        <tr>
                            <td><%=i.title%></td>
                            <td><%=i.description%></td>
                            <td><%=i.author%></td>
                            <td><%= i.labels%></td>
                        </tr>
                    <%}%>
                </table>
            </div>  
        </section>
    <%}%>
    </div>
<%}%>

<!-- filter the issue from search by author, title, decription and labels -->
<% if(!showIssue){%>
    <div id="filter-data">
        <h1>Filter Data</h1>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th>issue Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>label</th>
            </tr>
            <% for(i of filterdata){%>
                <tr>
                    <td>
                        <%= i.title%>
                    </td>
                    <td>
                        <%= i.description%>
                    </td>
                    <td>
                        <%= i.author%>
                    </td>
                    <td>
                        <%= i.labels%>
                    </td>
                </tr>
                <%}%>
        </table>
    </div>
    <%}%>

